apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "configmap-secret-operator.fullname" . }}-code
  namespace: {{ .Values.operatorNamespace }}
  labels:
    {{- include "configmap-secret-operator.labels" . | nindent 4 }}
data:
  operator.py: |
{{ .Files.Get "model-key-controller.py" | indent 4 }}